<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baver</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    hello world!
    <div class="login-button-block">
      <div style="font: var(--BodyS)">
        아직 회원가입을 안하셨나요?
        <a style="font: var(--BoldS)" href="/user/form" class="button-long login">회원가입하기</a>
      </div>
      <div style="font: var(--BodyS)">
        이미 회원가입을 하셨나요?
        <a style="font: var(--BoldS)" href="/user/login/form" class="button-long login">로그인하기</a>
      </div>
    </div>
  </body>
</html>
