<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
<h1>hello, world!</h1>

<nav class="navbar">
    <a href="/public">HELLO. WEB!</a>
    <ul class="nav-item-box">
        <li>
            <button onclick="location.href='/user/login'" class="button BoldS ">
                <p class="">로그인/회원가입</p>
            </button>
        </li>
    </ul>
</nav>

<section class="hero-box">
    <p class="hero-subtitle">부스트캠프 백엔드 교육용 페이지</h1>
    <h1 class="hero-title">HELLO. WEB! 입니다.</p>
</section>

<section class="board-box">
    <p class="board-count">전체글<span>N</span>개</p>
    <ul class="board-list">
        <li class="board-header">
            <div>
                <p class="board-header-title BordS">제목</p>
                <p class="board-header-author BordS">작성자</p>
                <p class="board-header-date BordS">작성일자</p>
                <p class="board-header-views BordS">조회수</p>
            </div>
        <li class="board-item">
            <a href="/board/1" class="board-link">
                <p class="board-item-title BordR">게시글 제목</p>
                <p class="board-item-author BordR">작성자</p>
                <p class="board-item-date BordR">작성일자</p>
                <p class="board-item-views BordR">조회수</p>
            </a>
        </li>
    </ul>
</body>

</html>